# General and IDE:
.exercism/
.vscode/
.idea/

# TypeScript:
node_modules/

# Clojure:
target/
.lein-failures

# Elixir:
_build/

# Erlang:
_build/

# Kotlin:
build/
.gradle/

# Python:
__pycache__/
.pytest_cache/
*.pyc

# Rust:
target/

# Fsharp:
fsharp/**/bin/
fsharp/**/obj/
